<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Blackberries</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<p><a class="nav-links" href="/">Home</a><a class="nav-links" href="/blueberries">Blueberries</a><a class="nav-links" href="/strawberries">Strawberries</a><a class="nav-links" href="/grapeberries">Grapeberries</a><a class="nav-links" href="/raspberries">Raspberries</a><a class="nav-links" href="/boysenberries">Boysenberries</a></p>
				<h1>Blackberries!!</h1>
				<p id="top-text">The blackberry is native to most continents and have been used throughout history as both medicine and food.  Blackberries can be classified by their growth habit as either erect, semi-erect, or trailing.  Blackberries will bear fruit in 1 or 2 years and continue to bless us for 15 years or more!</p>
			</div>
			<div id="content">
				<img src="/images/black_plant">
				<div id="key-facts">
					<h2>Key Facts</h2>
					<ul>
						<li>Sun, Wind, Weather, Temps, Frost</li>
						<li>Spacing, Soil, Watering, Drainage</li>
						<li>Training, Trellising, Support</li>
						<li>Pruning, Fertilizing</li>
						<li>Height, Width, Thorns, Special Info</li>
					</ul>
				</div>
				<div id="opinions">
					<h2>Tips from Our Garden to Yours</h2>
					<h4>Great Variety(ies):</h4>
					<p>Find your chill hours, plant hardiness zone, soil type, etc... and then learn all you can about which blackberries will thrive in your yard.  Based on low chill hours, good fresh fruit flavor, and large to very large berry size, Olallie, Kiowa, and Tupi seem like great choices for Southern California.</p>
					<h4>Great Spot(s):</h4>
					<p>Identify the amount of sunlight/shade, the exposure/protection from wind and elements, and any other factors pro and con for each spot in your yard.  As much as possible, match your great variety(ies) with your great spot(s).</p>
					<h4>Great Gardener(s):</h4>
					<p></p>
					<h4>Great Giver(s):</h4>
					<p></p>
				</div>
			</div>
			<div id="footer">
				<h3>Additional Resources</h3>
				<p><a href="http://ucanr.edu/sites/gardenweb/berries/?uid=4&ds=466">Growing Berries in Your Backyard</a></p>
				<p><a href="http://ir.library.oregonstate.edu/xmlui/bitstream/handle/1957/18929/ec1303.pdf">Growing Blackberries in Your Home Garden</a></p>
				<p><a href="https://www.uaex.edu/publications/PDF/FSA-6105.pdf">Blackberry Production in the Home Garden</a></p>
				<p><a href="http://www.midcitynursery.com/fruits/blackberries.htm">Blackberries</a></p>
			</div>
		</div>
	</body>
</html>