<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Blackberries</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize">
		<style type="text/css">
			body{
				background-color: rgba(14,14,13,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/strawberries">Strawberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/raspberries">Raspberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Blackberries</h1>
				<p id="top-text">The blackberry is native to most continents and has been used throughout history as both medicine and food.  Blackberries can be classified by their growth habit as either erect, semi-erect, or trailing.  Blackberries will bear fruit in 1 or 2 years and continue to bless us for 15 years or more!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/black_plant">
						<h6>Blackberry Plants</h6>
					</div>
				</div>
				<div class="column twelve-s six-m four-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Enjoys full sun or partial shade</li>
							<li>Prefers well-drained and loamy soil</li>
							<li>Likes 4 to 6 feet between plants</li>
							<li>Trellis to about 5 to 6 feet tall</li>
							<li>Zones/chill hours/heat tolerance vary</li>
							<li>Primocane or floricane fruiting types</li>
							<li>Water 2 to 3 times per week</li>
							<li>Prune old floricanes in Winter</li>
							<li>Fertilize in Spring/Winter</li>
						</ul>
					</div>
				</div>
				<div class="column twelve-s twelve-m four-l">
					<br>
					<br>
					<br>
					<p id="ad">(Your Ad Here)</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden</h2>
				<h4>Great Spot(s):</h4>
				<p>Identify sunny or partially sunny spot(s) in your yard that will give the blackberry plant(s) the best chance at thriving.  The best sites have some sun, easy access to water, and the necessary height and width.  Soil can almost always be improved with sand for drainage and planting soil.  We will be planting along our west-facing fence with a trellis and afternoon shade!</p>
				<h4>Great Variety(ies):</h4>
				<p>Figure out your required hardiness zone, chill hours, and heat tolerance, then match your plant priorities: harvest time, yield, flavor, thorniness, or trellis type.  For fresh flavor, heat-tolerance, and low chill hours, Olallieberry (trailing), Tupi (semi-erect), and Kiowa (erect) all seem like great choices.  Born in Oregon and perfect for California, we'll be planting and trellising Olallie!</p>
				<h4>Great Gardener(s):</h4>
				<p>Dig a hole about 2 times the size of your rootball.  Embed and cover the loosened rootball in a mix of planting soil, dirt, and sand (if needed).  Shape a small pool around the base and soak it with water.  16 gauge galvanized wire double strung at three heights between 6 foot T-posts makes a great trellis.  Now, enjoy the beauty and bounty of your growing garden.  Just remember, sharing is caring!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<h3>Additional Reading</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/berries/?uid=4&ds=466">Growing Berries in your Backyard</a></p>
					<p><a href="http://ir.library.oregonstate.edu/xmlui/bitstream/handle/1957/18929/ec1303.pdf">Growing Blackberries in your Home Garden</a></p>
					<p><a href="https://www.uaex.edu/publications/PDF/FSA-6105.pdf">Blackberry Production in the Home Garden</a></p>
					<p><a href="http://www.midcitynursery.com/fruits/blackberries.htm">Blackberries</a></p>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Blackberry Growing Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/bp8Ly_8htQ0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Blackberry Pruning Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/X2-reKF7XVI" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by James McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>