<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Blueberries</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize">
		<style type="text/css">
			body{
				background-color: rgba(0,19,118,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/strawberries">Strawberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/raspberries">Raspberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Blueberries</h1>
				<p id="top-text">The blueberry is a North American original.  Breeding the Northern Highbush with the Rabbiteye produced the Southern Highbush.  Some varieties of the Southern Highbush have a very low chill hour requirement and can thrive in Southern California pumping out blueberries for as long as 50 years!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/blue_plant">
						<h6>Young Blueberry Bush</h6>
					</div>
				</div>
				<div class="column twelve-s six-m four-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Enjoys full sun or a bit of shade</li>
							<li>Prefers well-drained/acidic soil</li>
							<li>Likes 4 to 5 feet between bushes</li>
							<li>Varieties grow 3 to 8 feet tall</li>
							<li>Fruits with 150 to 600 chill hours</li>
							<li>Multiple varieties increase yields</li>
							<li>Water 2 to 3 times per week</li>
							<li>Prune twiggy/old wood in Winter</li>
							<li>Acid fertilize in Spring/Winter</li>
						</ul>
					</div>
				</div>
				<div class="column twelve-s twelve-m four-l">
					<br>
					<br>
					<br>
					<p id="ad">(Your Ad Here)</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden</h2>
				<h4>Great Spot(s):</h4>
				<p>Identify a sunny spot or spots in your yard that will give the blueberry plant(s) the best chance at thriving.  The best sites have ample sun, easy access to water, and the necessary height and width.  Soil can almost always be improved with sand for drainage and acidic planting soil for pH.  In the end, we chose sunny, south-facing spots along our backyard wall with a little shade and good drainage that worked out great!</p>
				<h4>Great Variety(ies):</h4>
				<p>Figure out your hardiness zone, chill hours, and then match your plant priorities: high yield, flavor, or landscaping beauty.  Jewel, Emerald, and Sunshine Blue have been great producers of flavorful berries, while O'Neal has been lackluster.  In the future, Misty, Gulf Coast, and Sharpblue may grace the south-facing front of our house so the neighborhood can enjoy their beauty while we enjoy their berries!</p>
				<h4>Great Gardener(s):</h4>
				<p>Dig a hole about 2 times the size of your rootball.  Embed and cover the loosened rootball in a mix of acidic planting soil, dirt, and sand (if needed).  Shape a small pool around the trunk and soak it with water.  Now, enjoy the calming peace and beauty of your growing garden every day of your blessed life.  Before long, you will literally be enjoying the fruits of your labor.  Just remember, sharing is caring!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<h3>Additional Reading</h3>
					<p><a href="http://transitionculvercity.org/wp-content/uploads/2013/11/SoCal-Low_Chill_fruit_trees_Severynen2013.pdf">Low Chill Fruit Trees for SoCal</a></p>
					<p><a href="http://ucce.ucdavis.edu/files/filelibrary/5842/25993.pdf">Growing Blueberries in Sacramento</a></p>
					<p><a href="http://www.davewilson.com/product-information/product/southern-highbush-blueberries">Southern Highbush Blueberries</a></p>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Blueberry Growing Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/_835IcXpLYg" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Blueberry Care Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/SBNx1wfNBkY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by James McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>