<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Boysenberries</title>
		<style type="text/css">
			body{
				background-color: rgba(72,47,133,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/strawberries">Strawberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/raspberries">Raspberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Boysenberries!</h1>
				<p id="top-text">The boysenberry is a Southern California kid.  Anaheim horticulturalist Rudolph Boysen likely crossed the loganberry, raspberry, and blackberry, before Walter Knott popularized them on his now famous berry farm.  Boysenberries bear fruit on their second year canes for 15 years or maybe more!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/boysen_plant">
						<h6>Boysenberry Plants</h6>
					</div>
				</div>
				<div class="column twelve-s six-m eight-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Sun, Wind, Weather, Temps, Frost</li>
							<li>Spacing, Soil, Watering, Drainage</li>
							<li>Training, Trellising, Support</li>
							<li>Pruning, Fertilizing</li>
							<li>Height, Width, Thorns, Special Info</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden to Yours</h2>
				<h4>Great Variety(ies):</h4>
				<p>Find your chill hours, plant hardiness zone, soil type, etc... and then learn all you can about which boysenberries will suit you and your needs best.  The newer Thornless Boysenberry has fewer and smaller thorns, while the original (thornier) Boysenberry is said to have bigger, better tasting berries!</p>
				<h4>Great Spot(s):</h4>
				<p>Identify the amount of sunlight/shade, the exposure/protection from wind and elements, and any other factors pro and con for each spot in your yard.  As much as possible, match your great variety(ies) with your great spot(s).</p>
				<h4>Great Gardener(s):</h4>
				<p>Improve the soil, improve the spot (trellis), water the right amount (automatically), etc...</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m five-l">
					<h3>Additional Resources</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/berries/?uid=4&ds=466">Growing Berries in Your Backyard</a></p>
					<p><a href="http://ir.library.oregonstate.edu/xmlui/bitstream/handle/1957/18929/ec1303.pdf">Growing Blackberries in Your Home Garden</a></p>
					<p><a href="http://www.midcitynursery.com/fruits/blackberries.htm">Blackberries</a></p>
				</div>
				<div class="column twelve-s six-m seven-l">
					<p id="ad">(Your Ad Here)</p>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by J. McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>