<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grapes</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize">
		<style type="text/css">
			body{
				background-color: rgba(153,188,44,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/strawberries">Strawberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/raspberries">Raspberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Grapeberries</h1>
				<p id="top-text">The grape berry is native to many parts of the world.  American, European, and American/European hybrid varieties are all grown in Southern California.  After 3 to 5 years, grapevines can produce grapes and continue to deliver nature's goodness for 50 to 100 years and sometimes even more!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/grape_plant">
						<h6>Young Grapevine</h6>
					</div>
				</div>
				<div class="column twelve-s six-m four-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Most enjoy full sun or partial sun</li>
							<li>Prefer well-drained soil > 2 feet deep</li>
							<li>Like 8 feet spacing between plants</li>
							<li>Most need stakes, arbors, or trellises</li>
							<li>California is grape growing country</li>
							<li>Most need < 100 chill hours to fruit</li>
							<li>Water about 1 to 2 times per week</li>
							<li>Most are either spur or cane pruned</li>
							<li>Fertilize if yellow leaves/weak growth</li>
						</ul>
					</div>
				</div>
				<div class="column twelve-s twelve-m four-l">
					<br>
					<br>
					<br>
					<p id="ad">(Your Ad Here)</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden</h2>
				<h4>Great Spot(s):</h4>
				<p>Identify sunny or partially sunny spot(s) in your yard that will give the grapevine(s) the best chance at thriving.  For most varieties, sites need plenty of sun, access to water, and some vertical room to grow.  Compacted soil can almost always be improved with sand and planting soil.  In the end, we planted in some of our partial sunlight spots and used vertical-shoot postioning (VSP) trellising to increase the available sunlight!</p>
				<h4>Great Variety(ies):</h4>
				<p>Numerous varieties will thrive in your spot(s) including raisin, table, or wine grapes.  Choose your variety(ies) by purpose, flavor, yield, store availability, pruning style, or even by harvest time.  Ordered by harvest time, we have Perlette, Flame Seedless, Thompson Seedless, Muscat of Alexandria, and Crimson Seedless.  In the future, we are considering planting some wine grapes so we can eat and drink nature's goodness!</p>
				<h4>Great Gardener(s):</h4>
				<p>Dig a hole about 2 times the size of your rootball.  Embed and cover the loosened rootball in a mix of planting soil, dirt, and sand (if needed).  Shape a small pool around the trunk and soak it with water.  16 gauge galvanized wire strung at three heights between 7 foot T-posts is one quick and easy way to build a trellis.  Now, our beautiful vineyard brings us peace and will soon grace us with nature's bounty.  Just remember, sharing is caring!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<h3>Additional Reading</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/growing_grapes_in_the_california_garden/">Growing Grapes in your Backyard</a></p>
					<p><a href="http://ucanr.edu/sites/gardenweb/files/28956.pdf">Cultural Info for Selected Table Grapes</a></p>
					<p><a href="http://ucanr.edu/sites/YCMG/files/181039.pdf">Guidelines for the Home Vineyard</a></p>
					<p><a href="http://iv.ucdavis.edu/files/24432.pdf">Vine Pruning</a></p>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Grapevine Trellis Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/bFItu5iIE_c" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Grapevine Pruning Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/d1cq5VvHFb4" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by James McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>