<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SoCal Berry Fix</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home">
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1>Welcome to SoCal Berry Fix!</h1>
			<h4>Your source for berry growing information specific to Southern California.</h4>
			<p id="top-text">Growing from a passion/obsession with berries yielding sore backs, sore knees, thornpricks, and... beautiful, delicious, healthy fruit, and greater peace of mind right here in coastal Los Angeles.  <span>Please click on your fruit name of choice</span> or scroll to the bottom to learn more, more, more...</p>
		</div>
		<div id="content">
			<div class="berries"><h3><a href="/blueberries">Blueberries</a></h3><img src="/images/blue"></div>
			<div class="berries"><h3><a href="/strawberries">Strawberries</a></h3><img src="/images/straw"></div>
			<div class="berries"><h3><a href="/grapeberries">Grapeberries</a></h3><img src="/images/grape"></div>
			<div class="berries"><h3><a href="/raspberries">Raspberries</a></h3><img src="/images/rasp"></div>
			<div class="berries"><h3><a href="/boysenberries">Boysenberries</a></h3><img src="/images/boysen"></div>
			<div class="berries"><h3><a href="/blackberries">Blackberries</a></h3><img src="/images/black"></div>
		</div>
		<div id="footer">
			<h2>Did You Know?</h2>
			<h4>Chill hours help you select plants that will actually bear fruit at your location instead of just being ornamentals!</h4>
			<p class="links"><a href="http://fruitsandnuts.ucdavis.edu/Weather_Services/chilling_accumulation_models/Chill_Calculators/?type=chill">Chill Hours by California County Here</a></p>
			<h4>USDA plant hardiness zones help you find plants that will thrive at your location instead of struggling and withering away!</h4>
			<p class="links"><a href="http://planthardiness.ars.usda.gov/PHZMWeb/#">Plant Hardiness Zones by California ZIP Code Here</a></p>
		</div>
	</div>
</body>
</html>