<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Raspberries</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize">
		<style type="text/css">
			body{
				background-color: rgba(200,44,58,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/strawberries">Strawberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Raspberries</h1>
				<p id="top-text">The raspberry likely originated in North Eurasia.  Long prized by humans throughout history, raspberries were quickly spread to suitable cooler climates far and wide.  Depending on variety, raspberries can bear fruit in 1 or 2 years and then continue to bless us with deliciousness for more than 15 years!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/rasp_plant">
						<h6>Raspberry Plants</h6>
					</div>
				</div>
				<div class="column twelve-s six-m four-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Enjoy cool climates with some shade</li>
							<li>Prefer well-drained/aerated soil</li>
							<li>Like 4 feet spacing between plants</li>
							<li>Needs wider support or trellises</li>
							<li>Adapted to cool coastal California</li>
							<li>Only two varieties tolerate heat well</li>
							<li>Water about 2 to 3 times per week</li>
							<li>Prune out dead/dried out floricanes</li>
							<li>Fertilize moderately in Spring/Winter</li>
						</ul>
					</div>
				</div>
				<div class="column twelve-s twelve-m four-l">
					<br>
					<br>
					<br>
					<p id="ad">(Your Ad Here)</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden</h2>
				<h4>Great Spot(s):</h4>
				<p>Identify partially sunny spot(s) in your yard that will give the raspberry plant(s) the best chance at thriving.  Sites with partial sun/afternoon shade, access to water, and possibly a control system for the roots are best.  Organic matter and planting/potting soil can help with aeration, moisture retention, and drainage.  In the end, we planted along our west-facing fence with a low trellis and afternoon shade with great results!</p>
				<h4>Great Variety(ies):</h4>
				<p>Although some other varieties may thrive in certain micro-climates or shadier spots, Bababerry and Oregon 1030 are the only two varieties widely reported to tolerate the heat of Southern California well.  Both are ever-bearing or fall-bearing red raspberries that bear fruit on floricanes in the Summer and on primocanes in the Fall.  We successfully planted Bababerry and may still plant Oregon 1030 provided we can find them!</p>
				<h4>Great Gardener(s):</h4>
				<p>Red raspberries shoot from their roots and are borderline invasive.  Removing pesky spreading shoots over and over again gets old real fast and may just be a battle you lose!  Very soon, we will be transferring our plants into above ground, root-restraining planters.  With a trellis of 16 gauge galvanized wire spread wide and strung at two heights between 5 foot T-posts, the myth of luscious raspberries under control may still come true!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<h3>Additional Reading</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/berries/raspberries/">Growing Raspberries in your Backyard</a></p>
					<p><a href="https://ir.library.oregonstate.edu/xmlui/bitstream/handle/1957/18936/ec1306.pdf">Growing Raspberries in your Home Garden</a></p>
					<p><a href="http://ucce.ucdavis.edu/files/filelibrary/5842/25994.pdf">Growing Cane Berries in Sacramento</a></p>
					<p><a href="http://extension.oregonstate.edu/gardening/node/951/print">Late Winter to Early Spring Caneberry Care</a></p>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Raspberry Growing Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/ohIlx8pbYNo" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Raspberry Pruning Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/LhAt7rrr8Rs" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by James McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>