<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Raspberries</title>
		<style type="text/css">
			body{
				background-color: rgba(200,44,58,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/strawberries">Strawberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Raspberries!</h1>
				<p id="top-text">The raspberry likely originated in North Eurasia.  Long prized by humans throughout history, raspberries were quickly spread to suitable cooler climates far and wide.  Depending on variety, raspberries can bear fruit in 1 or 2 years and then continue to bless us with deliciousness for more than 15 years!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/rasp_plant">
						<h6>Raspberry Plants</h6>
					</div>
				</div>
				<div class="column twelve-s six-m eight-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Sun, Wind, Weather, Temps, Frost</li>
							<li>Spacing, Soil, Watering, Drainage</li>
							<li>Training, Trellising, Support</li>
							<li>Pruning, Fertilizing</li>
							<li>Height, Width, Thorns, Special Info</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden to Yours</h2>
				<h4>Great Variety(ies):</h4>
				<p>Figure out your chill hours, plant hardiness zone, soil type, etc... and then learn all you can about which raspberries will thrive in your yard.  Bababerry has done very well along one of our fences.  Oregon 1030 is the other variety reported to be very well suited to the heat of Southern California.</p>
				<h4>Great Spot(s):</h4>
				<p>Identify the amount of sunlight/shade, the exposure/protection from wind and elements, and any other factors pro and con for each spot in your yard.  As much as possible, match your great variety(ies) with your great spot(s).</p>
				<h4>Great Gardener(s):</h4>
				<p>Improve the soil, improve the spot (trellis), water the right amount (automatically), etc...</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m five-l">
					<h3>Additional Resources</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/berries/raspberries/">Growing Berries in Your Backyard:  Raspberries</a></p>
					<p><a href="https://ir.library.oregonstate.edu/xmlui/bitstream/handle/1957/18936/ec1306.pdf">Growing Raspberries in Your Home Garden</a></p>
					<p><a href="http://ucce.ucdavis.edu/files/filelibrary/5842/25994.pdf">Growing Cane Berries in the Sacramento Region</a></p>
					<p><a href="http://extension.oregonstate.edu/gardening/node/951/print">Late winter to early spring care will help caneberries thrive</a></p>
				</div>
				<div class="column twelve-s six-m seven-l">
					<p id="ad">(Your Ad Here)</p>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by J. McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>