<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Strawberries</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize">
		<style type="text/css">
			body{
				background-color: rgba(139,27,28,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/raspberries">Raspberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Strawberries</h1>
				<p id="top-text">Strawberries are native to many parts of the world, but the modern garden strawberry was born over 100 years ago when a Virginian strawberry was bred with a Chilean one.  Strawberries fruit well for their first 3 to 4 years and more strawberries grow in California than in any other state!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/straw_plant">
						<h6>Strawberry Plant</h6>
					</div>
				</div>
				<div class="column twelve-s six-m four-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Most enjoy full sun or a bit of shade</li>
							<li>Prefer well-drained, sandy/loamy soil</li>
							<li>Like 12 to 18 inches between plants</li>
							<li>Varieties can grow up to 10 inches high</li>
							<li>California grows great strawberries</li>
							<li>Need some chill for flowers to bud</li>
							<li>Water about 2 to 3 times per week</li>
							<li>Remove runners to increase production</li>
							<li>Fertilize in Spring/Winter</li>
						</ul>
					</div>
				</div>
				<div class="column twelve-s twelve-m four-l">
					<br>
					<br>
					<br>
					<p id="ad">(Your Ad Here)</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden</h2>
				<h4>Great Spot(s):</h4>
				<p>Identify a sunny spot or spots in your yard that will give the strawberry plant(s) the best chance at thriving.  For most varieties, sites need ample sun, easy access to water, and the necessary height and width.  Soil can almost always be improved with sand for drainage and planting soil for nutrients.  In the end, we planted our strawberries between our blueberries, along our south-facing backyard wall and it worked out great!</p>
				<h4>Great Variety(ies):</h4>
				<p>Match your plant priorities (size, flavor, yield, and harvest times) to your planting location characteristics (sun, shade, drainage and water).  Sequoia and Chandler have produced well for us (and the neighborhood squirrel).  In the future, we are considering planting more in our other sunny spots and even planting some shade-tolerant plants like Alpine in some of our shadier spots.  More plants means more yummy strawberries!</p>
				<h4>Great Gardener(s):</h4>
				<p>Dig a hole about 2 times the size of your rootball.  Embed and cover the loosened rootball in a mix of planting soil, dirt, and sand (if needed).  Shape the plant into a small mound surrounded by a small pool and soak it with water.  Now, enjoy the calming peace and beauty of your growing garden every day of your blessed life.  Before long, you will literally be enjoying the fruits of your labor.  Just remember, sharing is caring!</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<h3>Additional Reading</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/berries/?uid=13&ds=466">Growing Berries in your Backyard</a></p>
					<p><a href="http://ucanr.edu/blogs/blogcore/postdetail.cfm?postnum=23279">Secrets to Growing Great Strawberries</a></p>
					<p><a href="http://www.lagunahillsnursery.com/gary-strawberries.htm">Growing Strawberries in Orange County</a></p>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Strawberry Growing Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/-NStfNP0ogA" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="column twelve-s six-m four-l">
					<h3>Strawberry Runners Video</h3>
					<iframe width="215" height="121" src="https://www.youtube.com/embed/egCOM74RzaM" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by James McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>