<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Strawberries</title>
		<style type="text/css">
			body{
				background-color: rgba(139,27,28,0.4);
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/berries">
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/">Home Page</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blueberries">Blueberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/grapeberries">Grapeberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/raspberries">Raspberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/boysenberries">Boysenberries</a>
				</div>
				<div class="column six-s four-m two-l">
					<a class="nav-links" href="/blackberries">Blackberries</a>
				</div>
			</div>
			<div class="row">
				<h1>Strawberries!</h1>
				<p id="top-text">The strawberry is native to many parts of the world.  When a Virginian strawberry was bred with a Chilean one, the modern garden strawberry was born.  Although strawberry plants can live for more than 5 to 6 years, unfortunately, yields of strawberries can begin to drop off significantly.</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m four-l">
					<div id="photo-caption">
						<img src="/images/straw_plant">
						<h6>Strawberry Plant</h6>
					</div>
				</div>
				<div class="column twelve-s six-m eight-l">
					<div id="facts">
						<h2 id="fact-heading">Key Facts</h2>
						<ul>
							<li>Sun, Wind, Weather, Temps, Frost</li>
							<li>Spacing, Soil, Watering, Drainage</li>
							<li>Training, Trellising, Support</li>
							<li>Pruning, Fertilizing</li>
							<li>Height, Width, Thorns, Special Info</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>Tips from Our Garden to Yours</h2>
				<h4>Great Variety(ies):</h4>
				<p>Figure out your chill hours, plant hardiness zone, soil type, etc... and then learn all you can about which strawberries will thrive in your yard.  Sequoia and Chandler have done very well in one of our sunny areas.  In the future, maybe Alpine will do very well in some of our shadier areas.</p>
				<h4>Great Spot(s):</h4>
				<p>Identify the amount of sunlight/shade, the exposure/protection from wind and elements, and any other factors pro and con for each spot in your yard.  As much as possible, match your great variety(ies) with your great spot(s).</p>
				<h4>Great Gardener(s):</h4>
				<p>Improve the soil, improve the spot (trellis), water the right amount (automatically), etc...</p>
			</div>
			<div class="row">
				<div class="column twelve-s six-m five-l">
					<h3>Additional Resources</h3>
					<p><a href="http://ucanr.edu/sites/gardenweb/berries/?uid=13&ds=466">Growing Berries in Your Backyard</a></p>
					<p><a href="http://ucanr.edu/blogs/blogcore/postdetail.cfm?postnum=23279">Secrets to growing great strawberries</a></p>
					<p><a href="http://www.lagunahillsnursery.com/gary-strawberries.htm">Growing Strawberries in Orange County</a></p>
				</div>
				<div class="column twelve-s six-m seven-l">
					<p id="ad">(Your Ad Here)</p>
				</div>
			</div>
			<div class="row">
				<p id="creator">Created by J. McKie | All Rights Reserved
				</p>
			</div>
		</div>
	</body>
</html>