* {
	box-sizing: border-box;
}

/*padding/border in elements total width/height*/

body{
	font-size: 1em;
}

#wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	padding-left: 1em;
	clear: both;
}

/*set up row not to float (clear)*/

.column {
	float: left;
	padding-right: 1em;
}

a:hover { 
    background-color: yellow;
}

h1{
	font-size: 3.4em;
	padding-top: 20px;
}

#top-text{
	font-size: 1em;
}

#photo-caption{
	padding-top: 1.6em;
}

img{
	width:21em;
	height:14em;
}

h6{
	padding-left: 11em;
}

#facts{
	padding-left: 1.1em;
}

#fact-heading{
	padding-left: 1.4em;
}

#ad{
	text-align: center;
}

#creator{
	text-align: center;
	padding-top: 20px;
}

/*Resize em's for small screens*/

@media (max-width: 500px) {
  body { font-size: 0.4em; }
}

/*Resize em's for medium screens*/

@media (max-width: 1000px) {
  body { font-size: .7em; }
}

/*small-size screens*/

@media only screen and (max-width: 480px) {
	.twelve-s { width: 100%; }
}

/* small-size screens < 480px */

@media only screen and (max-width: 480px) {
	.twelve-s { width: 100%; }
	.six-s { width: 50%; }
}

/* medium-size screens > 480px & < 1024px */

@media only screen and (min-width: 481px) {
	.twelve-m { width: 100%; }
	.eight-m { width: 66.66666666%; }
	.seven-m { width: 58.33333333%; }
	.six-m { width: 50%; }
	.five-m { width: 41.66666666%; }
	.four-m { width: 33.33333333%; }
}

/* large-size screens > 1024px */

@media only screen and (min-width: 1024px) {
	.twelve-l { width: 100%; }
	.eight-l { width: 66.66666666%; }
	.seven-l { width: 58.33333333%; }
	.six-l { width: 50%; }
	.five-l { width: 41.66666666%; }
	.four-l { width: 33.33333333%; }
	.two-l { width: 16.66666666%; }
}
